* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  text-decoration: none;

}
body {
  background-color: rgb(255, 255, 255);
  
}
.heading {
  width: 100%;
  margin: auto;
  border-radius: 0px;
font-size: 3rem;
  color: blueviolet;
  text-align: center;
  background-color: yellow;
  
}
.Quote{
  color: rgba(0, 0, 0, 0.095);
  margin-left: 12%;
  margin-top: -1%;
  z-index: -1;
  position: absolute;
  font-size: 15rem;
  font-weight: 700;
}
body p{
  font-size: 1.2rem;
  width: 70%;
  line-height: 1.5rem;
  padding: 5rem 0 2rem 0;
  margin: auto;
  text-align: justify;
}
.container {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
 
}
.Card {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: aqua;

}
.Card a {
 font-size: 3rem;
 font-weight: 600;
 text-align: center;
  color: rgb(255, 255, 255);
  
}
.Card a:hover{
  
  padding: 2rem;
  border: 2px solid white;
}
.Img1{
  background-size: cover;
background-image: url(./Images/covid.jpg);
}
.Img2{
  background-size: cover;
background-image: url(./Images/interior.jpg);}
.Img3{
  background-size: cover;
background-image: url(./Images/calculator.jpg);}
.Img4{
  background-size: cover;
background-image: url(.Images/singer.jpg);}
.Img5{
  background-size: cover;
background-image: url(./Images/grade.jpg);}
.Img6{
  background-size: cover;
background-image: url(./Images/covid.jpg);}
.Img7{
  background-size: cover;
background-image: url(./Images/pattern.jpg);}
.Img8{
  background-size: cover;
background-image: url(./Images/clock.jpg);}
.Img9{
  background-size: cover;
background-image: url(./Images/portfolio.jpg);}

.Footer{
  height: 15vh;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.81);
}
.Footer h2{
  font-size: 2rem;
  color: white;
}
.Footer h4 a{
  font-size: 1.5rem;
  color: white;
}
.Footer h4 a:hover{
  color: rgb(52, 62, 255);
}
@media (max-width:1024px) {
 

  .container {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    
   
  }
 
  
}
@media (max-width:786px) {
  .heading {
   
   font-size: 1.5rem;
    border-radius: 0px;

  }
  .Quote{
    margin-left: 2%;
    
  }
  body p{
    width: 90%;
  
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
   
  }
  .Footer{
    height: 15vh;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.81);
  }
  .Footer h2{
    font-size: 1.2rem;
    color: white;
  }
  .Footer h4 a{
    font-size: 1rem;
    color: white;
  }
  .Footer h4 a:hover{
    color: rgb(52, 62, 255);
  }
}

