* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  text-decoration: none;

}
body {
  background-color: rgb(255, 255, 255);
  
}
.heading {
  width: 100%;
  margin: auto;
  border-radius: 0px;
font-size: 3rem;
  color: blueviolet;
  text-align: center;
  background-color: yellow;
  
}
.Quote{
  color: rgba(0, 0, 0, 0.095);
  margin-left: 12%;
  margin-top: -1%;
  z-index: -1;
  position: absolute;
  font-size: 15rem;
  font-weight: 700;
}
body p{
  font-size: 1.2rem;
  width: 70%;
  line-height: 1.5rem;
  padding: 5rem 0 2rem 0;
  margin: auto;
  text-align: justify;
}
.container {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
 
}
.Card {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: aqua;

}
.Card a {
 font-size: 3rem;
 font-weight: 600;
 text-align: center;
  color: rgb(255, 255, 255);
  
}
.Card a:hover{
  
  padding: 2rem;
  border: 2px solid white;
}
.Img1{
  background-size: cover;
  background-image: url(https://img.freepik.com/free-vector/realistic-coronavirus-background_52683-46586.jpg?w=1060&t=st=1691261610~exp=1691262210~hmac=ab7634a05ab17027cca086d81daaac658200b0ba81c4b42ee12daf245088944f);
}
.Img2{
  background-size: cover;
  background-image: url(https://img.freepik.com/free-photo/comfortable-sofa-illuminated-by-modern-electric-lamps-generated-by-ai_188544-11703.jpg?t=st=1691262082~exp=1691265682~hmac=837cb1d052d40d3904d140898a5e16aaa7d054abc39814cf29f5b824da51fd03&w=1380);
}
.Img3{
  background-size: cover;
  background-image: url(https://img.freepik.com/free-photo/top-view-school-supplies-assortment_23-2148913526.jpg?w=1380&t=st=1691262810~exp=1691263410~hmac=20662d6892908c7f77b59a28a48f5da57af64d83498d5b5ae5453edf4e2e2ca4);
}
.Img4{
  background-size: cover;
  background-image: url(https://img.freepik.com/free-photo/young-caucasian-female-musician-performer-singing-dancing-neon-light-gradient_155003-44185.jpg?w=1060&t=st=1691263029~exp=1691263629~hmac=f0ce5f9fea798259386701357963ea64785c1b49497b0be9bf952e76eda442ab);
}
.Img5{
  background-size: cover;
  background-image: url(https://img.freepik.com/free-photo/successful-astronaut-got-first-prize-trophy-3d-rendering_460848-9673.jpg?w=1060&t=st=1691263755~exp=1691264355~hmac=f87c075e4960d77736ebbd3e5f79d791764dfc106390f2b261b05bb1d8d97c39);
}
.Img6{
  background-size: cover;
  background-image: url(https://img.freepik.com/free-photo/cityscape-with-little-planet-effect_1359-245.jpg?w=740&t=st=1691263863~exp=1691264463~hmac=edbae0348ce77ad46caa864cf82b1fce24eb67bb01a86b50959f032165eb1658);
}
.Img7{
  background-size: cover;
  background-image: url(https://img.freepik.com/free-photo/3d-elegant-green-geometrical-texture_23-2149168863.jpg?w=1380&t=st=1691264067~exp=1691264667~hmac=0b6e3e4dd22245e807a7a507c5aae2ed2e341c3065dcf8c38c369e0df9e284db);
}
.Img8{
  background-size: cover;
  background-image: url(https://img.freepik.com/free-photo/front-view-clock-bulbs-with-wooden-table_23-2148281048.jpg?w=1060&t=st=1691264211~exp=1691264811~hmac=1daf376be781969182d021b5f249d66556d9c882edbfc45f80affaf440b065fc);
}
.Img9{
  background-size: cover;
  background-image: url(https://img.freepik.com/free-vector/landing-page-travel-with-image_23-2148359296.jpg?w=1060&t=st=1691264312~exp=1691264912~hmac=12dd5c285786443fb9cb2b8f0824cda18f70943e9ce3caf18403f066d4554e7a);
}

.Footer{
  height: 15vh;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.81);
}
.Footer h2{
  font-size: 2rem;
  color: white;
}
.Footer h4 a{
  font-size: 1.5rem;
  color: white;
}
.Footer h4 a:hover{
  color: rgb(52, 62, 255);
}
@media (max-width:1024px) {
 

  .container {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    
   
  }
 
  
}
@media (max-width:786px) {
  .heading {
   
   font-size: 1.5rem;
    border-radius: 0px;

  }
  .Quote{
    margin-left: 2%;
    
  }
  body p{
    width: 90%;
  
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
   
  }
  .Footer{
    height: 15vh;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.81);
  }
  .Footer h2{
    font-size: 1.2rem;
    color: white;
  }
  .Footer h4 a{
    font-size: 1rem;
    color: white;
  }
  .Footer h4 a:hover{
    color: rgb(52, 62, 255);
  }
}

